{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Gallery{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <h1 class="text-center">Photo</h1>
    {% for photo in photos %}
        <div class="products">
            <div class="photo-block">
                <img class="avatar" src="{{ photo.picture.url }}" width="250" height="250" alt="photo">
            </div>
            <div class="text-block">
                <a href="{% url "webapp:photo_view" photo.pk %}">{{ photo.sign }}</a>
                <p>Автор: {{ photo.author }}</p>
                <p>Дата: {{ photo.created_at }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}