{% extends "base.html" %}
{% block title %}Delete Photo{% endblock %}
{% block menu %}
    <li><a href="{% url 'webapp:photo_view' photo.pk %}">Cancel</a></li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete photo "{{ photo.sign }}"?</h1>
    <form action="{% url "webapp:photo_delete" photo.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Confirm"></p>
        <p><a href="{% url "webapp:photo_view" photo.pk %}">Cancel</a></p>
    </form>
{% endblock %}