{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.change_photo or article.author == request.user %}
        <li><a href="{% url 'webapp:photo_update' photo.pk %}">Update</a></li>
    {% endif %}
    {##}
    {% if perms.webapp.change_photo or article.author == request.user %}
        <li><a href="{% url 'webapp:photo_delete' photo.pk %}">Delete</a></li>
    {% endif %}
    {##}
    {#    <li><a href="{% url 'webapp:review_add' product.pk %}">Review Add</a></li>#}
{% endblock %}

{% block content %}
    <div class="photo-block">
        <img class="avatar" src="{{ photo.picture.url }}" width="250" height="250" alt="photo">
    </div>
    <div class="text-block">
        <p>Подпись: {{ photo.sign }}</p>
        <p>Автор: {{ photo.author }}</p>
        <p>Дата: {{ photo.created_at }}</p>
        {% if request.user.is_authenticated %}
            <div>
                <a class="add" id="add" href="{% url 'api:add' photo.pk %}">Add in favorites</a>
            </div>
            <div>
                <a class="remove" id="remove" href="{% url 'api:remove' photo.pk %}">Remove from favorites</a>
            </div>

            {% for favorite in photo.photo_fav.all %}
                <li><a href="{% url 'accounts:detail' favorite.user.pk %}">{{ favorite.user}}</a></li>
            {% endfor %}
        {% endif %}
    </div>
    <hr>

{% endblock %}